@import '../../../theme/constants';
@import '../../../theme/buttons/buttons';
@import '../../../theme/titles/titles';
//caorusel de fondo
.controls1{
	background-image: none!important;
	background: none;
	opacity: 1;
	height: 334px;
	width: 118px;
}
.svg1{
}
// **** Carousel de categorías
.controls2{
	background-image: none!important;
	background: #f7f7f7;
	opacity: 1;
	height: 334px;
	width: 118px;
}
.svg2{
	@extend .vCenter;
}
