@import '../../../../theme/wrappers/wrappers';
@import '../../../../theme/titles/titles';
@import '../../../../theme/buttons/buttons';
@import '../../../../theme/constants.scss';
.mainTitle{
  @extend .title3;
  margin-top: 375px;
  letter-spacing: 8px;
}

@media #{$isPhone}{
  .mainTitle{
    font-size: 35px;
		margin-top: 310px;
	}
}
