@import '../../../../theme/constants';
@import '../../../../theme/buttons/buttons';
@import '../../../../theme/titles/titles';

.item{
	background-size: cover;
}
.logo{
	width: 65px;
	height: 71px;
	display: block;
	margin: 0 auto 50px;
}

.mainTitle{
	@extend .title3;
	text-align: center;
}
.vCenter{
	width: 100%;
}
.title3{
	margin-bottom: 50px;
}
.button2{
	margin: 0 auto;
}
// ---- main slider
#slider_home{
	border: 10px solid #ff0;
	text-align: center;
}
.slider1 {
  background-size: cover;
  background-position: center top;
  height: 500px;
  h2{
  	margin-top: 0;
  }
}

// ---- home carousel
.slide1 {
  background-image: url('/images/home/banner/slider_01.png');
  @extend .slider1;
}
.heightFix{
	height: 500px;
}

.slide2 {
  background-image: url('/images/home/banner/slider_02.png');
  @extend .slider1;
}

.title{
	color: $white;
	font-size: 40px;
	text-align: center;
	margin-bottom: 42px;
	font-family: $fontA;
	letter-spacing: 12px;
}
.btn1{
	width: 150px;
	display: block;
	margin: 0 auto;
}

// ---- la clinica banner
.clinica-banner {
  background-image: url('/images/la-clinica/banner.png');
  @extend .slider1;
}


// ---- equipo banner
.equipo-banner {
	background-image: url('/images/equipo/banner.png');
  @extend .slider1;
}

// ---- servicios banner
.servicios-banner {
	background-image: url('/images/equipo/banner.png');
  @extend .slider1;
}

// --- Responsive
@media #{$isPhone}{
  .title{
    font-size: 25px;
  }
}
